<div class="uk-container uk-margin-large-top">

  <h2 class="uk-text-left">Criar ou editar artigo do blog</h2>

  <!-- Error Message -->
  @if (errorMessage) {
    <div class="uk-alert-danger uk-margin" uk-alert>
      {{ errorMessage }}
    </div>
  }

  <!-- Title -->
  <div class="uk-margin-top uk-text-left">
    <label for="title" class="uk-form-label">Título do artigo</label>
    <div class="uk-form-controls">
      <input type="text" id="title" [(ngModel)]="newPost.title" class="uk-input" placeholder="Digite o título do artigo"
        required />
      </div>
    </div>

    <!-- Featured Image -->
    <div class="uk-margin-top uk-text-left">
      <label for="featuredImageUrl" class="uk-form-label">Link da imagem de destaque</label>
      <div class="uk-form-controls">
        <input type="url" id="featuredImageUrl" [(ngModel)]="featuredImageUrl" class="uk-input"
          placeholder="https://exemplo.com/imagem.jpg" />
        </div>

        @if (featuredImageUrl) {
          <div class="uk-margin-top">
            <p>Pré-visualização:</p>
            <img [src]="featuredImageUrl" alt="Imagem de destaque" style="max-width: 300px;" />
          </div>
        }
      </div>

      <div class="uk-margin-top uk-text-left">
        <label for="featuredImageUrl" class="uk-form-label">Autor do artigo:</label>
        <div class="uk-form-controls">
          <input type="text" id="author"  [(ngModel)]="newPost.author" class="uk-input"
            placeholder="Nome do autor" />
          </div>
        </div>

        <!-- Editor -->
        <div class="uk-margin-top">
          <editor [(ngModel)]="editorContent" [init]="editorConfig" apiKey="a8yzw2uhdu7v6niumnokr811bginwp5kfr689ismxj4dtnxu">
          </editor>
        </div>

        <!-- Submit Button -->
        <div class="uk-text-left">
          <button class="uk-margin-large-top botao-azul uk-button uk-button-large uk-border-rounded" (click)="onSubmit()"
            [disabled]="isSubmitting">
            {{ isSubmitting ? 'Publicando...' : 'Salvar e publicar' }}
          </button>
        </div>

      </div>