<div style="position: relative; overflow: hidden;" class="uk-position-relative uk-margin-large-top">
    <video #promoVideo src="https://marketing.host2africa.com/drive/tcng/maintcng.mp4"   poster="img/thumbail-tcng.png"
   preload="auto"
 autoplay muted loop playsinline
        uk-cover style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover;"></video>

    <div class="uk-container uk-position-relative uk-visible-toggle" tabindex="-1"
        uk-slideshow="animation: fade; autoplay: true; autoplay-interval: 4000">
        <div class="uk-slideshow-items" style="height: 80vh;"> <!-- Set a fixed height (or use 100vh for fullscreen) -->

            <!-- Slide 1 -->
            <div class="uk-height-1-1 uk-flex uk-flex-middle"> <!-- Ensures vertical centering -->
                <div class="uk-container">
                    <div class="uk-grid-collapse uk-child-width-1-1@m uk-flex uk-flex-center" uk-grid>
                        <div class="uk-light uk-text-center" style="max-width: 680px;">
                            <p class="hero-subtitle">  </p>
                            <p class="hero-title">
                                Become NDPA(R) Compliant and Pay in Naira with Clouds2Africa.
                            </p>
                            <p class="hero-desc">Locally hosted cloud nodes with enterprise-grade compute, networking, and storage
                                designed to handled any workload.</p>
                            <div class="uk-flex uk-flex-wrap uk-margin-medium-top uk-flex-center">
                                <a target="_blank" href="https://marketing.host2africa.com/drive/tcng/read/Clouds2Africa_Whitepaper.pdf">
                                    <button
                                        style="background-color: hsl(102, 100%, 31%); color: #fff; font-weight: 700; padding: 8px 40px;"
                                        class="uk-button uk-button-medium uk-border-pill"><span
                                            style="margin-left: 10px; margin-right: 10px">Learn More</span>
                                    </button>
                                </a>
                                <a href="mailto:sale.ng@telcables.ng" class="uk-margin-left">
                                    <button
                                        style="background-color: hsl(102, 100%, 31%); color: #fff; font-weight: 700; padding: 8px 40px;"
                                        class="uk-button uk-button-medium uk-border-pill">
                                        <span style="margin-left: 10px; margin-right: 10px">Get in Touch</span>
                                    </button>
                                </a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Slide 2 -->
            <div class="uk-height-1-1 uk-flex uk-flex-middle">
                <div class="uk-container">
                    <div class="uk-grid-collapse uk-child-width-1-1@m uk-flex uk-flex-center" uk-grid>
                        <div class="uk-light uk-text-center" style="max-width: 680px;">
                            <p class="hero-subtitle"> Lagos Metro </p>
                            <p class="hero-title">
                                Up to 99.95% SLA <br> High-Capacity  Metro for Business Interconnectivity.
                            </p>
                            <p class="hero-desc">Connect your sites in Nigeria's digital hubs with secured, low-latency metro links
                                within the country or across the globe.</p>
                            <div class="uk-flex uk-flex-wrap uk-margin-medium-top uk-flex-center">
                                <a routerLink="/service-contact">
                                    <button
                                        style="background-color: hsl(102, 100%, 31%); color: #fff; font-weight: 700; padding: 8px 40px;"
                                        class="uk-button uk-button-medium uk-border-pill"><span
                                            style="margin-left: 10px; margin-right: 10px">Get a quote</span>
                                    </button>
                                </a>
                                <a routerLink="/connectivity" class="uk-margin-left">
                                    <button
                                        style="background-color: hsl(102, 100%, 31%); color: #fff; font-weight: 700; padding: 8px 40px;"
                                        class="uk-button uk-button-medium uk-border-pill"><span
                                            style="margin-left: 10px; margin-right: 10px">More Details</span>
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Slide 3 -->
            <div class="uk-height-1-1 uk-flex uk-flex-middle">
                <div class="uk-container">
                    <div class="uk-grid-collapse uk-child-width-1-1@m uk-flex uk-flex-center" uk-grid>
                        <div class="uk-light uk-text-center" style="max-width: 600px;">
                            <p class="hero-subtitle"> IP Transit & DIA </p>
                            <p class="hero-title">
                                Stay Connected to the World with our Fast and Reliable Internet Solutions.
                            </p>
                            <p class="hero-desc">Get direct access to Tier 1 networks, CDNs and global routes through Telcables
                                Nigeria resilient and protected backbone.</p>
                            <div class="uk-flex uk-flex-wrap uk-margin-medium-top uk-flex-center">
                                <a target="_blank"
                                    href="https://lg.angolacables.co.ao/">
                                    <button
                                        style="background-color: hsl(102, 100%, 31%); color: #fff; font-weight: 700; padding: 8px 40px;"
                                        class="uk-button uk-button-medium uk-border-pill"><span
                                            style="margin-left: 10px; margin-right: 10px">Check Latencies</span>
                                    </button>
                                </a>
                                <a routerLink="/service-contact" class="uk-margin-left">
                                    <button
                                        style="background-color: hsl(102, 100%, 31%); color: #fff; font-weight: 700; padding: 8px 40px;"
                                        class="uk-button uk-button-medium uk-border-pill"><span
                                            style="margin-left: 10px; margin-right: 10px">Get a quote</span>
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>