<div class="uk-container uk-margin-top uk-margin-bottom">
  @if (vagas$ | async; as vagas) {
    @if (vagas.length > 0) {
      <div class="uk-grid uk-child-width-1-3@m uk-grid-medium" uk-grid>
        @for (vaga of vagas; track vaga.id) {
          <div>
            <div class="uk-card uk-card-body uk-padding-remove">
              <div class="uk-height-medium uk-width-medium border uk-background-cover uk-flex uk-flex-bottom uk-light"
                style="aspect-ratio: 1/1; cursor: pointer;" [style.background-image]="'url(' + vaga.imageUrl + ')'"
                (click)="openModal(vaga)">
                <div class="uk-padding-small gradiente-nome-vaga uk-border-rounded uk-text-left">
                  <b style="color:#fff ; " class="uk-card-title uk-text-left">{{ vaga.posicao }}</b>
                </div>
              </div>
            </div>
          </div>
        }
      </div>
    } @else {
      <div class="uk-text-center uk-margin-large-top uk-margin-large-bottom">
        <p class="uk-text-large uk-margin-large-top uk-margin-large-bottom">Não existem vagas disponíveis! Regresse noutra
        altura</p>
      </div>
    }

    <!-- Modal for vaga details -->
    @if (selectedVaga) {
      <div id="vaga-modal" uk-modal>
        <div class="uk-modal-dialog uk-border-rounded" style="border-radius: 15px; overflow: hidden;">
          <!-- Modal header with image -->
          <div class="uk-position-relative uk-background-cover uk-light"
            [style.background-image]="'url(' + selectedVaga.imageUrl + ')'" style="height: 200px;">
            <div class="uk-overlay  uk-position-bottom uk-padding-small"
              style="background: linear-gradient(to top, rgba(0, 0, 78, 0.918), rgba(0, 0, 78, 0.918), rgba(0, 0, 255, 0));">
              <h2 style="font-weight: 800" class="uk-modal-title uk-margin-small-left">{{ selectedVaga.posicao }}</h2>
              <p class="uk-margin-remove">{{ selectedVaga.departamento }}</p>
            </div>
            <button style="color:white; border-radius: 50%;  " class=" uk-modal-close-default uk-border-pill" type="button"
            uk-close></button>
          </div>

          <!-- Modal body with responsibilities -->
          <div class="uk-modal-body uk-padding">
            <h4 class="uk-text-bold">Principais responsabilidades</h4>
            <div class="responsibilities-content" [innerHTML]="getSafeContent()"></div>
          </div>

          <div class="uk-modal-footer uk-text-center" style="background: transparent; padding-bottom: 20px;">
            <button uk-toggle="target: #modal-vaga-form-1"
              class="uk-button uk-button-primary uk-width-1-1 uk-border-pill uk-margin-small-bottom"
              style="padding: 12px; font-size: 16px; background: #1AB8DD; border: none; color:#02002B"><b>Se candidatar a
            esta vaga</b></button>
          </div>
        </div>
      </div>

      <div id="modal-vaga-form-1" uk-modal>
        <div class="uk-modal-dialog uk-border-rounded  fundo-form  " style="border-radius: 15px; overflow: hidden;">
          <!-- Corpo do modal -->
          <div class="uk-modal-body ">
            <div class="uk-width-expand  ">
              <form [formGroup]="contactForm" (ngSubmit)="submitForm($event)" class="uk-grid-small uk-padding" uk-grid>
                <h3 style="color:rgba(24, 24, 50, 1); font-weight: bold;">{{ selectedVaga.posicao }}</h3>

                <!-- Primeiro Nome -->
                <div class="uk-width-1-2@s">
                  <label class="uk-form-label" for="firstName">Primeiro Nome</label>
                  <input style="background-color: #F0F0F8;" class="uk-input uk-border-rounded" id="firstName" type="text"
                    formControlName="firstName" required placeholder="" aria-label="">
                    @if (contactForm.get('firstName')?.invalid && (contactForm.get('firstName')?.dirty || contactForm.get('firstName')?.touched)) {
                      <div
                        class="uk-text-danger">
                        @if (contactForm.get('firstName')?.errors?.['required']) {
                          {{ 'campo_obrigatorio' | translate }}
                        }
                        @if (contactForm.get('firstName')?.errors?.['pattern']) {
                          {{ 'formato_invalido' | translate }}
                        }
                      </div>
                    }
                  </div>

                  <!-- Último Nome -->
                  <div class="uk-width-1-2@s">
                    <label class="uk-form-label" for="lastName">Último Nome</label>
                    <input style="background-color: #F0F0F8;" class="uk-input uk-border-rounded" id="lastName" type="text"
                      formControlName="lastName" required />
                      @if (contactForm.get('lastName')?.invalid && (contactForm.get('lastName')?.dirty || contactForm.get('lastName')?.touched)) {
                        <div
                          class="uk-text-danger">
                          @if (contactForm.get('lastName')?.errors?.['required']) {
                            {{ 'campo_obrigatorio' | translate }}
                          }
                          @if (contactForm.get('lastName')?.errors?.['pattern']) {
                            {{ 'formato_invalido' | translate }}
                          }
                        </div>
                      }
                    </div>

                    <!-- E-mail -->
                    <div class="uk-width-1-1">
                      <label class="uk-form-label" for="email">E-mail</label>
                      <input style="background-color: #F0F0F8;" class="uk-input uk-border-rounded" id="email" type="email"
                        formControlName="email" required />
                        @if (contactForm.get('email')?.invalid && (contactForm.get('email')?.dirty || contactForm.get('email')?.touched)) {
                          <div
                            class="uk-text-danger">
                            @if (contactForm.get('email')?.errors?.['required']) {
                              {{ 'campo_obrigatorio' | translate }}
                            }
                            @if (contactForm.get('email')?.errors?.['pattern']) {
                              {{ 'formato_invalido_email' | translate }}
                            }
                          </div>
                        }
                      </div>

                      <!-- Mensagem -->
                      <div class="uk-width-1-1">
                        <label class="uk-form-label" for="message"><b>Mensagem</b></label>
                        <textarea style="background-color: #F0F0F8;" class="uk-textarea uk-border-rounded" id="message" rows="5"
                        formControlName="message" required placeholder="" aria-label=""></textarea>
                        @if (contactForm.get('message')?.invalid && (contactForm.get('message')?.dirty || contactForm.get('message')?.touched)) {
                          <div
                            class="uk-text-danger">
                            @if (contactForm.get('message')?.errors?.['required']) {
                              {{ 'campo_obrigatorio' | translate }}
                            }
                            @if (contactForm.get('message')?.errors?.['pattern']) {
                              {{ 'formato_invalido' | translate }}
                            }
                          </div>
                        }
                      </div>

                      <div class="uk-width-1-1 uk-flex uk-flex-right">
                        <button style="background-color: #1AB8DD; color:black" class="uk-button uk-button-small uk-border-pill"
                          [disabled]="isSending">
                          @if (!isSending) {
                            <span><b>Enviar Candidatura</b></span>
                          }
                          @if (isSending) {
                            <span uk-spinner></span>
                          }
                        </button>
                      </div>

                      <progress id="js-progressbar" class="uk-progress" value="0" max="100" hidden></progress>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          }
        } @else {
          <div class="uk-flex uk-flex-center uk-margin-large-top">
            <div uk-spinner></div>
          </div>
        }
      </div>