<!-- Footer Section -->
<footer class="site-footer">
    <div class="container">
        <div class="footer-content">

            <!-- Column 1: Logo and Social Media -->
            <!-- Column 1: Logo and Social Media -->
            <div class="footer-column">
                <ul class="footer-links">
                    <li>
                        <img class="footer-logo" src="/img/logo-tcng.png" alt="Angola Cables Logo">
                    </li>


                </ul>
            </div>



            <!-- Column 3: About Us -->
            <div class="footer-column ">

                <ul class="footer-links">
                    <li><b>Network</b></li>
                    <li><a href="https://www.angonix.net/">> Lagos Metro</a></li>

                    <li><a href="https://clouds2africa.com/#!/">> Global map and Cloud presence</a></li>
                    <a href="#remote-peering-modal" uk-toggle> > Remote peering locations</a>

                </ul>

                <!-- This is the modal -->



                <div id="remote-peering-modal" class="uk-flex-top" uk-modal>
                    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">

                        <button class="uk-modal-close-default" type="button" uk-close></button>

                        <img src="img/remotepeering-map.png">
                    </div>
                </div>


                <ul class="footer-links">
                    <li class="uk-margin-small-top"><b>Terms and Conditions</b></li>
                    <li><a routerLink="/privacypolicy">> Privacy Policy</a> </li>
                    <li><a routerLink="/termsandconditions">> Terms and Conditions</a> </li>


                </ul>
            </div>




            <!-- Column 4: Offices -->
            <div class="footer-column">


                <ul class="footer-links uk-margin-small-top">
                    <li><b>Contact Us</b></li>
                    <li style="color: white"> Become a partner: <br>> <a href="mailto:partner@telcables.ng"><b> partner&#64;telcables.ng </b> </a></li>

                    <li style="color: white;">
                        Purchase products and services: <br>
                        <a href="mailto:sales.ng@telcables.ng">
                            <b>sales.ng&#64;telcables.ng</b>
                        </a>
                    </li>


                </ul>
                <ul class="footer-links">

                    <li class="margem-superior uk-margin-small-top ">
                        <b>{{'siga.nos' | translate }}</b>
                        <div class="social-icons">
                            <a target="_blank" href="https://www.facebook.com/TelcablesNigeria/" uk-icon="facebook"></a>
                            <a target="_blank" href="https://instagram.com/telcablesnigeria" uk-icon="instagram"></a>
                            <a target="_blank" href="https://www.linkedin.com/company/telcables-nigeria/"
                                uk-icon="linkedin"></a>
                            <a target="_blank" href="https://twitter.com/telcablesng" uk-icon="twitter"></a>
                        </div>
                    </li>
                    <li class="uk-margin-small-top"><b>{{'escritorios' | translate }}</b></li>
                    <li style="color: white"><span class="uk-margin-small-right" uk-icon="location"></span>
                        5, Jeremaiah Ugwu street, off babatunde anjous, Lekki,
                        Lagos</li>


                    <!--                     <li><a href="https://telcables.co.za/">África do Sul</a></li>
                    <li><a href="https://telcables.com.br/">Brasil</a></li>
                    <li><a href="https://telcables.net/">EUA</a></li>
                    <li><a href="https://telcables.ng/">Nigeria</a></li>
                    <li><a href="https://telcables.pt/">Portugal</a></li> -->

                </ul>
            </div>

            <!-- Column 5: Image/Linked Content 
            <div class="footer-column">
                <img src="img/linked.png" alt="Additional footer image" style="max-width: 100%; height: auto;">
            </div>-->
        </div>


    </div>
    <p style="color: white" class="uk-text-center">
        &copy; Copyright 2025.
        TelCables Nigeria
    </p>

</footer>