<div class="uk-position-relative ">
    <nav class="uk-navbar-container">
        <div class="uk-container">
            <div
                uk-navbar="dropbar: true; dropbar-anchor: !.uk-navbar-container; target-y: !.uk-navbar-container; delay-hide: 0; delay-show: 0">

                <div class="uk-navbar-left">
                    <ul class="uk-navbar-nav">
                        <li class="uk-logo">
                            <a href="#inicio" uk-scroll="offset: 100" class="texto">
                                <img class="uk-border-rounded" style="height: auto; width: 180px;"
                                    src="/img/logo-tcng.png">
                            </a>
                        </li>
                    </ul>

                    <ul class="uk-navbar-nav uk-text-left uk-visible@m">
                        <li>
                            <a href="#" class="uk-navbar-toggle" uk-toggle="target: #products-dropdown">Products</a>
                            <div id="products-dropdown" class="uk-navbar-dropdown uk-navbar-dropdown-width-1" hidden>
                                <div class="uk-drop-grid uk-child-width-1-3" uk-grid>
                                    <div>
                                        <ul class="uk-nav uk-navbar-dropdown-nav ">
                                            <li class=" uk-padding-bottom-small uk-nav-header"><a
                                                    routerLink="/connectivity"><b><span class="uk-margin-small-right"
                                                            uk-icon="world"></span>
                                                        CONNECTIVITY</b></a></li>
                                            <li><a [routerLink]="['/connectivity']" fragment="internet">Internet
                                                    Connections</a></li>

                                            <li class="uk-nav-divider" routerLink="/connectivity" fragment="dia">
                                                Dedicated Internet Acess</li>
                                            <li class="">IP Transit </li>

                                            <li><a [routerLink]="['/connectivity']" fragment="private-metro">Private
                                                    Metro Connections</a></li>

                                            <li class="uk-nav-divider">Layer 2 VPN</li>
                                            <li class=""> Layer 3 VPN </li>

                                            <li class=" uk-margin-small-top"><a [routerLink]="['/connectivity']"
                                                    fragment="ipc">International Private
                                                    Circuit</a> </li>
                                            <li class="uk-nav-divider">Dedicated international circuits for global sites
                                                interconnections</li>


                                            <li class="uk-active uk-margin-small-top"><a
                                                    [routerLink]="['/connectivity']" fragment="acloudconnect">ACloud
                                                    Connect
                                                </a>
                                            </li>
                                            <li class="uk-nav-divider">Secured connections to Public Cloud Service
                                                Providers from Nigeria</li>

                                        </ul>
                                    </div>


                                    <div>
                                        <ul class="uk-nav uk-navbar-dropdown-nav">
                                            <li class=" uk-nav-header"><a routerLink="/cloud"> <b><span
                                                            class="uk-margin-small-right" uk-icon="cloud-upload"></span>
                                                        CLOUD </b> </a></li>

                                            <li class="uk-active uk-margin-small-top"><a [routerLink]="['/cloud']"
                                                    fragment="iaas">Virtual
                                                    Infrastructure
                                                    (IaaS)
                                                </a>
                                            </li>
                                            <li class="uk-nav-divider">Compute</li>
                                            <li class="">Storage </li>
                                            <li class="">Network </li>


                                            <li class="uk-active uk-margin-small-top"><a [routerLink]="['/cloud']"
                                                    fragment="backup">
                                                    Cloud Backup
                                                    (Backups2Africa)
                                                </a>
                                            </li>

                                            <li class="uk-nav-divider">Centralized management for cloud backups and
                                                recovery strategy</li>

                                            <li class="uk-active uk-margin-small-top"><a [routerLink]="['/cloud']"
                                                    fragment="storage">Storage-as-a-service
                                                </a>
                                            </li>
                                            <li class="uk-nav-divider">Flexible and affordable storage for large data
                                                management </li>
                                        </ul>
                                    </div>

                                    <div>
                                        <ul class="uk-nav uk-navbar-dropdown-nav">
                                            <li class=" uk-nav-header"><a routerLink="/data-center"><b><span
                                                            class="uk-margin-small-right" uk-icon="cloud-upload"></span>
                                                        DATA CENTER </b> </a> </li>
                                            <li class="uk-active uk-margin-small-top"><a
                                                    routerLink="/data-center">Colocation</a></li>
                                            <li class="uk-nav-divider">Rack Colocation</li>
                                            <li class="">Interconnectivity </li>
                                            <li class="">Remote Hands & Support </li>
                                        </ul>

                                        <ul class="uk-nav uk-navbar-dropdown-nav">
                                            <li class=" uk-nav-header uk-margin-small-top "><a
                                                    routerLink="/security"><b><span class="uk-margin-small-right"
                                                            uk-icon="lock"></span> SECURITY
                                                    </b></a></li>
                                            <li class="uk-active uk-margin-small-top"><a
                                                    routerLink="/security">Anti-DDoS</a></li>
                                            <li class="uk-nav-divider">Maximize your network security from DDOS attacks
                                            </li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </li>

                        <li>
                            <a href="#" class="uk-navbar-toggle" uk-toggle="target: #solutions-dropdown">Solutions</a>
                            <div id="solutions-dropdown" class="uk-navbar-dropdown uk-navbar-dropdown-width-1" hidden>
                                <div class="uk-drop-grid uk-child-width-1-3" uk-grid>
                                    <div>
                                        <ul class="uk-nav uk-navbar-dropdown-nav">
                                            <li class=" uk-nav-header"><b><span class="" uk-icon=""></span> SERVICE
                                                    PROVIDERS </b></li>
                                            <li class=""> <a routerLink="/solution/W6TKykQybafg9iVfYzrh"> Bulk Capacity
                                                </a> </li>
                                            <li class=""><a routerLink="/solution/R446yVwVh58fu47SWfqz"> Cloud Partner
                                                </a> </li>
                                            <li class=""><a routerLink="/solution/UxSwnLK8v0tTjLXtwW07">Africa Digital
                                                    Bridge</a> </li>
                                        </ul>

                                        <ul class="uk-nav uk-navbar-dropdown-nav">
                                            <li class=" uk-nav-header uk-margin-small-top "><b><span class=""
                                                        uk-icon=""></span> TECHNOLOGY
                                                </b></li>
                                            <li class=""><a routerLink="/solution/aGazTik0cU33m9Ply2R4">Virtual server
                                                    room </a></li>
                                            <li class=""><a routerLink="/solution/n5Xftlth6X6Gz8YsGf35"> Uptime
                                                    assurance, Disaster Recovery<br> and Global Content Delivery</a>
                                            </li>
                                        </ul>


                                        <ul class="uk-nav uk-navbar-dropdown-nav">
                                            <li class=" uk-nav-header uk-margin-small-top "> <b>ENERGY</b>
                                            </li>
                                            <li><a routerLink="/solution/xmgZtnpcULyfJn4S5CoU">
                                                    Point-to-Point/Multipoints circuits</a></li>
                                            <li class=""><a routerlink="/solution/IkS1RLuNtKt7syLSDfHc"> Private cloud
                                                    as an alternative to physical infrastructure </a></li>
                                        </ul>
                                    </div>

                                    <div>
                                        <ul class="uk-nav uk-navbar-dropdown-nav">
                                            <li class=" uk-nav-header"><b><span class="" uk-icon=""></span> FINANCE
                                                    SERVICES & INSURANCE
                                                    (FSI) </b></li>
                                            <li class=""><a routerLink="/solution/r6N5oiZ8kNGtsoBckh1G">Premium
                                                    connectivity</a> </li>
                                            <li class=""><a routerLink="/solution/IkS1RLuNtKt7syLSDfHc">Private cloud
                                                    for inhouse management </a></li>

                                            <li class=""><a routerLink="/solution/gmxOyIYW80aGNnp95xsM">Secured
                                                    infrastructure against attack </a> </li>
                                            <li class=""><a routerLink="/solution/v9Tr2HSReshEXglN603y"> Financial Ais
                                                    and global finance exchange connections</a></li>
                                        </ul>

                                        <ul class="uk-nav uk-navbar-dropdown-nav">
                                            <li class=" uk-nav-header"><b><span class="" uk-icon=""></span> e-GOVERNMENT
                                                </b></li>
                                            <li class=""><a routerLink="/solution/PJBrln5DGSupIWqjs03Y">Dedicated
                                                    Government cloud node </a></li>
                                            <li class=""><a routerLink="/solution/RnBSDi3fKPpcvdfjrr8r">Private
                                                    communications</a></li>
                                            <li class=""><a routerLink="/solution/bUkeL79XHUhhvEBNNugN"> Private cloud
                                                    as an alternative to physical infrastructure</a></li>

                                        </ul>
                                    </div>

                                    <div>

                                        <!-- 
                                        <ul class="uk-nav uk-navbar-dropdown-nav">
                                            <li class=" uk-nav-header "><b><span class="" uk-icon=""></span> GENERAL
                                                    SALES & CAMPAIGNS
                                                </b></li>
                                            <li class="">VMWare alternative - Clouds2Africa</li>
                                        </ul>
                                    -->
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li>
                            <a target="_blank" href="https://www.clouds2africa.com/">Clouds2Africa</a>
                        </li>

                        <li>
                            <a href="https://partners.angolacables.co.ao/">Partner Program</a>
                        </li>

                        <li>
                            <a routerLink="/company" href="#">Company</a>
                        </li>
                    </ul>
                </div>

                <div class="uk-navbar-right uk-visible@m">
                    <ul class="uk-navbar-nav">
                        <li>
                            <a routerLink="/contact" style="color: #002561 ;" href="#"><button
                                    style="background-color: transparent; color: #fff ; border-color: white; border-style: solid; border-width: 0.5px;"
                                    class="uk-button botao-contacto">Contact Us</button> </a>

                        </li>

                        <li class="uk-navbar-item">
                            <!-- 
                            <div class="uk-navbar-item">
                                <form class="uk-form uk-margin-remove">
                                    <div uk-form-custom="target: > * > span:first-child" class="uk-form-custom">
                                        <select aria-label="Custom controls" (change)="onLanguageChange($event)"
                                            class="uk-select">
                                            <option value="pt">PT</option>
                                            <option value="en">EN</option>
                                            <option value="fr">FR</option>
                                        </select>
                                        <button class="uk-button uk-button-default uk-button-small" type="button"
                                            tabindex="-1" style="height: 40px; padding: 0 12px;">
                                            <span class="uk-flex uk-flex-middle">
                                                 
                                            <img class="bandeiras" [src]="selectedFlag" id="selected-flag"
                                                style="height: 16px; width: auto; margin-right: 8px;"> 
                                                <span id="selected-language"
                                                    style="font-size: 14px; font-weight: bold;">{{
                                                    selectedLanguage }}</span>
                                                <span uk-icon="icon: chevron-down" style="margin-left: 4px;"></span>
                                            </span>
                                        </button>
                                    </div>
                                </form>
                            </div>
                            -->
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>



    <!-- Mobile Navigation (hidden on medium+ screens) -->
    <div class="uk-hidden@m">


        <nav class="uk-navbar-container">
            <div class="uk-container">
                <div uk-navbar>

                    <div class="uk-navbar-left">

                        <ul class="uk-navbar-nav">

                            <li> <a href="#inicio" uk-scroll="offset: 100" class="texto">
                                    <img class="uk-border-rounded" style="height: auto; width: 100px;"
                                        src="/img/logo-tcng.png">
                                </a></li>
                        </ul>

                    </div>

                    <div style="margin-right: 2px" class="uk-navbar-right">

                        <ul class="uk-navbar-nav">
                            <!--                         <li class="uk-navbar-item">
                            <div class="uk-navbar-item">
                                <form class="uk-form uk-margin-remove">
                                    <div uk-form-custom="target: > * > span:first-child" class="uk-form-custom">
                                        <select aria-label="Custom controls" (change)="onLanguageChange($event)"
                                            class="uk-select">
                                            <option value="pt">PT</option>
                                            <option value="en">EN</option>
                                            <option value="fr">FR</option>
                                        </select>
                                        <button class="uk-button uk-button-default uk-button-small" type="button"
                                            tabindex="-1" style="height: 40px; padding: 0 12px;">
                                            <span class="uk-flex uk-flex-middle">
                                                <img class="bandeiras" [src]="selectedFlag" id="selected-flag"
                                                    style="height: 16px; width: auto; margin-right: 8px;">
                                                <span id="selected-language"
                                                    style="font-size: 14px; font-weight: bold;">{{
                                                    selectedLanguage }}</span>
                                                <span uk-icon="icon: chevron-down" style="margin-left: 4px;"></span>
                                            </span>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </li>

-->

                            <li>
                                <div class="uk-container">
                                    <div class="uk-navbar-left">
                                        <a class="uk-navbar-toggle" uk-navbar-toggle-icon href="#"
                                            uk-toggle="target: #offcanvas-nav"></a>
                                    </div>

                                </div>
                            </li>

                        </ul>

                    </div>

                </div>
            </div>
        </nav>
        <!--  <nav class="uk-navbar-container uk-navbar">

              <div class="uk-container">
            <div class="uk-navbar-left">
                <a class="uk-navbar-toggle" uk-navbar-toggle-icon href="#" uk-toggle="target: #offcanvas-nav"></a>
            </div>
            <a  href="#inicio" uk-scroll="offset: 100" class="texto">
                <img class="uk-border-rounded" style="height: auto; width: 100px;" src="/img/logo-acsa.png">
            </a>
        </div>
     

    </nav>   -->
    </div>

    <!-- Mobile Offcanvas Menu -->
    <div id="offcanvas-nav" uk-offcanvas="overlay: true">
        <div class="uk-offcanvas-bar">
            <ul class="uk-nav uk-nav-default uk-margin-medium-left">
                <li>
                    <a href="#inicio" uk-scroll="offset: 100" class="texto">
                        <img class="uk-border-rounded" style="height: auto; width: 250px;" src="/img/logo-tcng.png">
                    </a>
                </li>

                <li><a routerLink="/company">{{ 'menu-conheca' | translate }}</a></li>
                <li><a routerLink="/news">{{ 'news.media' | translate }}</a></li>
                <li><a routerLink="/solutions">{{ 'solutions' | translate }}</a></li>

                <li class="uk-parent uk-margin-top">
                    <a style="color:#ffffff85 !important; font-weight: normal !important;"> {{ 'servicos' |
                        translate }} </a>
                    <ul class="uk-nav-sub">
                        <li><a routerLink="/connectivity">{{ 'connectivity.mobile' | translate }}</a></li>
                        <li><a routerLink="/cloud">{{ 'cloud.mobile' | translate }}</a></li>
                        <li><a routerLink="/security">{{ 'security.mobile' | translate }}</a></li>
                        <li><a routerLink="/data-center">{{ 'menu-datacenter' | translate }}</a></li>
                    </ul>
                </li>

                <li class="uk-margin-top"><a target="_blank" href="https://partners.angolacables.co.ao/">{{
                        'menu-parceiros' | translate
                        }}</a></li>

                <li class="uk-margin-top"><a target="_blank"
                        href="https://acservices.atlanticconnect.com.br/latencies/round-trip/">{{
                        'menu-latencias' | translate }}</a></li>



                <li class="uk-margin-top">
                    <a routerLink="/service-contact">{{ 'contato' | translate }}</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- Search Modal (shared across all screen sizes) -->


    <div id="search-modal" uk-modal>
        <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical pesquisa">
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <form class="uk-search uk-search-medium">
                <span uk-search-icon></span>
                <input class="uk-search-input" type="search" placeholder="Search" aria-label="Search">
            </form>
        </div>
    </div>


</div>